@import url(./global.css);

body {
  background: url(./assets/bg.png) no-repeat top center/cover;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 1040px;
  margin: 151px auto;
}

#photo {
  width: 150px;
  border-radius: 50%;
  border: 2px solid red;
  padding: 5px;
}

#dev-simbol {
  width: 40px;
  height: 35px;
  position: absolute;
  left: 52vw;
  top: 35vh;
  z-index: 1;
}

#apresentation {
  margin-top: 56px;
  text-align: center;
  color: var(--color-font);
}

#apresentation h1 {
  margin: 8px 0 20px;
  font-size: 56px;
  color: var(--color-h1-font);
}

#apresentation h3 {
  font-size: 20px;
  font-weight: 300;
}

#about {
  font-size: 14px;
  font-weight: 200;
}

#hability-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 80px;
}

.hability-bg {
  background: var(--icon-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 999px;
  padding: 8px 16px;
}

.hability-icons {
  width: 24px;
}

#html {
  color: #E3646E;
}

#css {
  color: #3996DB;
}

.hability-text {
  font-size: 16px;
  font-weight: 500;
}

